body {
    text-align: center;
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #02adf6;
}

.first-price {
    text-align: center;
    font-size: 24px;
    width: 25%;
}
.final-price {
    
    font-size: 24px;
    border: 1px solid;
    margin: 10px 10px;
    padding: 30px ;
    background-color: #fff;
    width: 25%;
    text-align: center;
}
.final-price-azn {
    font-size: 24px;
    border: 1px solid;
    margin: 10px 10px;
    padding: 20px ;
    background-color: #fff;
    width: 25%;
}
.shop {
    width: 25%;
    font-size: 24px;
}
.returnBtn {
    width: 25%;
    font-size: 24px;
    margin: 10px 10px;
    cursor: pointer;
}
